<footer>
    <div class="footer-main">
        <div class="socials">
            <a href="https://www.tiktok.com/@LaLand_wl?is_from_webapp=1&sender_device=pc" target="_blank">
                TikTok
            </a>
        </div>

        <h2>© 2026 LaLand</h2>
    </div>

    <div class="footer-home-only">
         LALAND WL n'est en aucun cas affilié à Rockstar Games, Take-Two Interactive ou Cfx.re.
    </div>

            <a href="/remboursement" class="btn">
                Remboursement
            </a>

            <a href="/cgu" class="btn">
                Condition d'utilisation 
            </a>
</footer>